// SITE WIDE STYLES
// These styles applies throughout the whole website
//==========================================================

body {
	font-family: $font-main !important;
	font-weight: lighter !important;
}

a,
a:focus {
	-webkit-outline: none !important;
	-moz-outline: none !important;
	outline: none !important;
}


//SOCIAL MEDIA
//==================================
.x-social-global {
	margin-top: 7px !important;
	
	//Facebook
	.x-icon-facebook-square::before {
		content: '\f09a';
	}
	
	//Twiiter
	.x-icon-twitter-square::before {
		content: '\f099';
	}
	
	> a {
		font-size: 18px;
		line-height: 1.6;
		width: 30px;
		height: 30px;
		color: $l-blue;
		background-color: white;
		border-radius: 100%;
		
		&:hover,
		&:focus {
			color: $pink !important;
		}
		
		> i::before {
			vertical-align: middle;
		}
	}
}



//Z-INDEX
//============================
.index-0 {
	z-index: 0 !important;
}

.index-1 {
	z-index: 1 !important;
}


.index-2 {
	z-index: 2 !important;
}

.index-3 {
	z-index: 3 !important;
}


//THE GRID TITLES
//=============================
.tg-item-title > a{
	font-size: 16px !important;
	line-height: 1.2 !important;
}