/* =============================
		TYPOGRAPHY
=============================== */

h1, h2, h3, h4, h5, h6 {
	margin-top: 0 !important;
	line-height: 1.2;
	transition: all 0.3s ease-in-out;
}


.h-custom-headline {
	
	&.-white {
		
		span:before, 
		span:after {
			border-color: white !important;
		}
	}
	
}



// H1 BUILD
// =================
h1 {
	font-size: 400% !important;
	
	//1280px
	@include respond-max( $l-laptop ) {
		font-size: 380% !important;
	}
	
	
	//1024px
	@include respond-max( $hor-tablet ) {
		font-size: 280% !important;
	}
	
	
	//768px
	@include respond-max( $ver-tablet ) {
		font-size: 240% !important;
	}
	
	
	//600px
	@include respond-max( $l-phone ) {
		font-size: 200% !important;
	}
	
	
	//480px
	@include respond-max( $m-phone ) {
		font-size: 180% !important;
	}
	
}



// H2 BUILD
// ===========================
h2 {
	font-size: 300% !important;
	
	//1280px
	@include respond-max( $l-laptop ) {
		font-size: 280% !important;
	}
	
	
	//1024px
	@include respond-max( $hor-tablet ) {
		font-size: 220% !important;
	}
	
	
	//768px
	@include respond-max( $ver-tablet ) {
		font-size: 200% !important;
	}
	
	
	//600px
	@include respond-max( $l-phone ) {
		font-size: 180% !important;
	}
	
	
	//480px
	@include respond-max( $m-phone ) {
		font-size: 160% !important;
	}
}



// H3 BUILD
// ===========================
h3 {
	font-size: 200% !important;
	
	//1024px
	@include respond-max( $hor-tablet ) {
		font-size: 180% !important;
	}
	
	//768px
	@include respond-max( $ver-tablet ) {
		font-size: 160% !important;
	}
	
	
	//600px
	@include respond-max( $l-phone ) {
		font-size: 130% !important;
	}
}




// H4 BUILD
// ===========================
h4 {
	font-size: 160% !important;
	
	//768px
	@include respond-max( $ver-tablet ) {
		font-size: 130% !important;
	}
	
	
	//600px
	@include respond-max( $l-phone ) {
		font-size: 120% !important;
	}
}


// H5 BUILD
// ===========================
h5 {
	
}



// H6 BUILD
// ===========================
h6 {
	
}



//===========================================================================================



// X-TEXT STYLES - X-THEME
// ===========================

.x-text { 
	letter-spacing: 0.01em;	
	
	//600px
	@include respond-max( $l-phone ) {
		line-height: 1.5 !important;
		font-size: .9rem !important;
	}
	
	p {
		margin-bottom: 15px !important;
	}
	

	//White Variant
	//=====================
	&.-white{

		> h1, h2, h3, h4, h5, h6, p, ul {
			color: white;
		}
	}

}


//TEXT TITLE VARIATIONS
//==========================
.x-text {
	
	//Non-italic head titles
	.straight-title {
		
		h1, h2, h3, h4, h5, h6 {
			font-style: normal !important;
		}		
	}
}




// TEXT WIDTHS
//========================
.x-text{
	
	&._max-1300 {
		max-width: em( 1300 );
	}
	
	&._max-1150 {
		max-width: em( 1150 );
	}
	
	&._max-960 {
		max-width: em( 960 );
	}
	
	&._max-880 {
		max-width: em( 880 );
	}
	
	&._max-520 {
		max-width: em( 520 );
	}
	
	&._max-480 {
		max-width: em( 480 );
	}
	
	
	&._center {
		margin-left: auto;
		margin-right:auto;
	}
	
	&._left {
		margin-left: 0;
		margin-right:auto;
	}
	
	&._right {
		margin-left: auto;
		margin-right:0;
	}
}