/* =============================
		CONTACT PAGE
=============================== */


//SUBSCRIBE FORM
//===========================
#gform_widget-2 {
	margin-top: 0 !important;
	
	input[type="text"] {
		background-color: white;
	}
	
	//Hiding label fields
	.name_first,
	.name_last {
		
		label {
			display: none !important;
		}
	}
	
	
	// Subscribe Form
	.gform_button.button,
	input[type="submit"] {
		width: 100%;
	}

}



//CONTACT FORM
//===========================
#gform_wrapper_2,
#gform_wrapper_3 {
	margin-top: 0 !important;
	
	//Hiding label fields
	.name_first,
	.name_last,
	.ginput_full,
	.ginput_left,
	.ginput_right {
		
		label {
			display: none !important;
		}
	}
}