/* =============================
	   FOOTER STYLES
=============================== */


// TOP FOOTER
//=====================
.x-colophon.top {
	background-color: #f2f2f2 !important;
	padding: 3% 0;
	
	//880px
    @include respond-max($m-tablet) {
        padding-top: em(60) !important;
		padding-bottom: em(60) !important;
    }
	
	.widget {
		text-align: center;
		
		@include respond-custom(max-width, 979px) {
			margin-top: em(15) !important;
		}
		
		&:before {
			display: none;
		}
		
		.h-widget {
			display: none;
		}
		
		.h-custom-headline {
			margin-bottom: em(15);
			
			span:before, 
			span:after {
				border-color: white !important;
			}
		}
		
		
		p {
			color: $grey;
			font-size: 14px;
		}
	}
	
	
	//Twitter
	#text-3 {
		text-align: left;
	}
		
}




//BOTTOM FOOTER
//=====================
.x-colophon.bottom {
	padding: 30px 0 20px;
	
	@include respond-custom(max-width, 1223px) {
		
		.x-column.x-3-5,
		.x-column.x-2-5 {
			width: 100%;
			float: none;
			margin-right: 0;
			display: block;
		}
	}
	
	
	//Navigation
	.x-nav {
		text-align: left !important;
		font-size: 14px;
		margin-bottom: 0;
		
		@include respond-custom(max-width, 1223px) {
			text-align: center !important;
			margin-bottom: 15px;
		}
		
		> li {
			margin-right: 5%;
			
			&:last-of-type {
				margin-right: 0;
			}
			
			&::after {
				display: none;
			}
			
			> a {
				color: white;
				text-decoration: none !important;
				font-weight: 600;
				letter-spacing: 1px;
								
				&:hover,
				&:focus {
					color: $peach;
				}
			}
		}
	}
	
	
	//Current active item
	.current-menu-item > a {
		color: $peach !important;
	}
	
	
	//Social Media
	.x-social-global {
		text-align: right !important;
		margin-top: -6px !important;
		
		@include respond-custom(max-width, 1223px) {
			text-align: center !important;
			margin-top: 0 !important;
		}
	}
}



//COPYRIGHTS
//===========================
#footer-copyrights {
	background-color: $grey;
	color: white;
	text-align: center;
	font-size: 14px;
	line-height: 1.2;
	padding: 13px;
	
	//480px
	@include respond-max( $m-phone ) {
		font-size: 12px;
	}
}