/* =============================
	 PAGE HEADER STYLES
=============================== */

//HOME PAGE HERO
//===========================
#home-hero {
	
	//600px
	@include respond-max( $l-phone ) {
		padding-top: em(60) !important;
		padding-bottom: em(60) !important;
	}
	
	.quote {
		color: white;
		padding-left: em(60);
		
		//320px
	    @include respond-max($s-phone) {
		    padding-left: em(0);
	    }
		
		> span {
			padding-left: em(60);
			
			//320px
		    @include respond-max($s-phone) {
			    padding-left: em(30);
		    }

			
			&:last-of-type {
				padding-left: em(100);
				
				//320px
			    @include respond-max($s-phone) {
				    padding-left: em(60);
			    }
			}
		}
	}
	
}



//INNER PAGE HERO
//===========================
#inner-hero {
	
	//1024px
    @include respond-max($hor-tablet) {
        padding-top: em(120) !important;
        padding-bottom: em(100) !important;
    }
    
    
    //768px
    @include respond-max($ver-tablet) {
        padding-top: em(100) !important;
        padding-bottom: em(80) !important;
    }
	
	//600px
	@include respond-max( $l-phone ) {
		padding-top: em(80) !important;
		padding-bottom: em(60) !important;
	}
	
}


