/* =============================
	MOBILE NAVIGATION STYLES
=============================== */

//Display mobile menu early
@include respond-custom(max-width, 1260px) {

    .x-nav-wrap.desktop {
       display: none !important;
    }
    
    .x-btn-navbar {
        display: block !important;
        float: right;
    }
    
    .x-nav-wrap.mobile.in,
    .x-nav-wrap.mobile.collapsing {
        display: block !important;
    }
    
    
    //Mobile cart
    .x-navbar .mobile .x-nav > li.x-menu-item-woocommerce > a {
	    padding-left: 0 !important;
		padding-right: 0 !important;
		font-size: 16px !important;
    }
    
    .x-cart > span {
		float: none !important;
		width: 100% !important;
	}    
}
