/* =============================
	   BASE FORM STYLES
=============================== */

select, 
textarea,
input:focus, 
input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"], 
.uneditable-input {
	background-color: #f2f2f2;
	border: 1px solid #cccccc;
	border-radius: 0;
	box-shadow: none !important;
	color: $grey !important;
	padding: 5px 15px !important;
}


select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms--appearance: none;
	height: 45px !important;
	-webkit-appearance: none;
	background-color: #f2f2f2 !important;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAANCAYAAAB2HjRBAAABS2lUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4KPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS42LWMxMzggNzkuMTU5ODI0LCAyMDE2LzA5LzE0LTAxOjA5OjAxICAgICAgICAiPgogPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4KICA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIi8+CiA8L3JkZjpSREY+CjwveDp4bXBtZXRhPgo8P3hwYWNrZXQgZW5kPSJyIj8+IEmuOgAAAJ1JREFUKJGdy7EOwVAUBuBP38ajGQy2xlLxCAajhKfpYGywWkRiwUqwHE1Um6qz3Hv+83+9y2S5QV/32SbY/wFhn2CEW0d4wyjBDrOOeIZdEssUxx/hMfre+Ir0R5xGv8SwQt4C8+ip4ieGeDTAR9yfdRjWWDTgRdzLqWIY41zJzpF/TB0+IatkWeStGOYo4l/E/jVN+I4BDvHe60ovMZonwHMDUD0AAAAASUVORK5CYII=');
	background-repeat: no-repeat;
	background-position: 98% center;
	background-size: 12px;
}


//Field Label
label {
	color: $grey;
	opacity: 1 !important;
	font-weight: bold !important;
}



//Fields
.gform_wrapper .top_label div.ginput_container {
	margin-top: 0 !important;
}

.gform_wrapper ul.gform_fields li.gfield {
	padding-right: 0 !important;
}

.gform_wrapper {
	margin-bottom: 0 !important;
}



// Input fields
input[type="text"] {
	margin-bottom: 0 !important;
	height: 45px !important;
	font-size: 14px !important;
	
	@include respond-custom(max-width, 640px) {
		margin-top: 0 !important;
	}

}


input::placeholder {
	font-family: $font-main !important;
}


//Message area
textarea {
	font-size: 14px !important;
	line-height: 1.2 !important;
	padding: 5px !important;
}





//Gravity submit Button
//========================
.gform_button.button,
input[type="submit"] {
	font-family: $font-main;
	font-size: 16px !important;
	text-transform: uppercase;
	letter-spacing: 0.08em;
	text-shadow: none !important;
	font-weight: bold;
	padding-top: 15px !important;
	padding-bottom: 15px !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	-ms-border-radius: 0 !important;
	border-radius: 0 !important;
	
	&:hover,
	&:focus {
		color: white !important;
	}
	
	//600px
	@include respond-max($l-phone) {
		font-size: 16px !important;
	} 
}





//BREAKING INPUT FIELDS TO COLUMNS
//========================================
.adjust-left,
.adjust-right {
	width: 48%;
	display: inline-block;
	margin-top: 0 !important;
	
	@include respond-custom(max-width, 640px) {
		width: 100%;
		display: block;
	}
	
	//480px
	@include respond-max( $m-phone ){
		width: 100%;
		display: block;
		margin-right: 0 !important;
	}
}


//Breaks input lists into a column - Left Side
.adjust-left {
	float: left;
	margin-right: 3% !important;
}



//Breaks input lists into a column - Right Side
.adjust-right {
		
}