/* =============================
	   BLOCK QUOTE STYLES
=============================== */
.x-blockquote {
	/*font-family: $font-title;
	border: none;
	font-style: italic;
	font-size: 1.2rem;
	letter-spacing: 0.03em;
	color: $l-blue;
	margin: 0;
	padding-top: 0;
	
	//600px
	@include respond-max( $l-phone ) {
		line-height: 1.5 !important;
		font-size: 0.85rem !important;
	}
	
	.x-cite {
		display: inline;
		font-family: $font-main;
	}*/
}